@model LocadoraDeVeiculos.Models.Cliente
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nome: @Model.Nome</h2>
<h2>Idade: @Model.Idade</h2>
<h2>CPF: @Model.CPF</h2>
