@model IEnumerable<LocadoraDeVeiculos.Models.Veiculo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veículos</h2>


@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Veículos</th></tr>
        </thead>
        <tbody>
            @foreach (var veiculo in Model)
            {
                <tr><td>@Html.ActionLink(@veiculo.Veiculo, "Details", new { veiculo.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum veículo cadastrado.</p>
}