@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Jaraguá do Sul<br />
    Santa Catarina, Brasil<br />
    <abbr title="Phone">Celular: 9 8879-8545</abbr>
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">luis.edu2609@gmail.com</a>
</address>