@model LocadoraDeVeiculos.Models.Vendedor
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Id: @Model.Id</h2>
<h2>Nome:  @Model.Nome</h2>
<h2>Cadastro @Model.Cadastro</h2>