@model IEnumerable<LocadoraDeVeiculos.Models.Vendedor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendedores</h2>


@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Vendedores</th></tr>
        </thead>
        <tbody>
            @foreach (var vendedor in Model)
            {
                <tr><td>@Html.ActionLink(@vendedor.Nome, "Details", new { vendedor.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum vendedor cadastrado!</p>
}