@model IEnumerable<LocadoraDeVeiculos.Models.Locacao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locações</h2>


@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Locações</th></tr>
        </thead>
        <tbody>
            @foreach (var locacao in Model)
            {
                <tr><td>@Html.ActionLink(@locacao.DataLocacao, "Details", new { locacao.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma locação.</p>
}